*{
    padding: 0;
    margin: 0;
}
.calculadora{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#title{
   margin-bottom: 10px;
   margin-top: 10px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2;
}
#buttonzero{
    width: 100%;
}
.textview{
    width: 211px;
    height: 30px;
    font-size: 25px;
}
#C{
    background-color: #FF0000;
    color: #fff;
    border-color: #FF0000;
}
#C:hover{
    background-color: #B22222;
    color: #fff;
    border-color: #B22222;
}
.colors{
    background-color: #FA8128;
    color: #fff;
    border-color: #FA8128;
}
.colors:hover{
    background-color: #ED7014;
    color: #fff;
    border-color: #ED7014;
}